# PyInstaller
build/
dist/

# Specs (optional)
*.spec

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

build/
dist/
__pycache__/
*.pyc
venv/
.venv/
.vscode/
.idea/
*.log